<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="SyncEngine" translate="label" class="syncengine" sortOrder="100">
            <label>SyncEngine</label>
        </tab>
        <section id="syncengine_connector" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Connector</label>
            <tab>SyncEngine</tab>
            <resource>SyncEngine_Connector::config_syncengine_connector</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Configuration</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable SyncEngine Connector</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="api" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SyncEngine API</label>
                <field id="host" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SyncEngine Host</label>
                    <comment>Base URL of your SyncEngine instance, for example: https://syncengine.example.com</comment>
                </field>
                <field id="token" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>SyncEngine Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="auth_header" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Custom Auth Header</label>
                    <comment>Leave empty to use Bearer Authorization. Example custom value: X-Token</comment>
                </field>
                <field id="version" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Version</label>
                    <comment>Set to 1 for /api/v1 routes. Leave empty to use unversioned API routes.</comment>
                </field>
            </group>
            <group id="triggers" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Trigger Dispatch</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Trigger Dispatch</label>
                    <comment>Automatically dispatch mapped SyncEngine automations on Magento product, customer, and order events.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="map_ttl" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Trigger Map Cache TTL (seconds)</label>
                    <comment>How long the automation trigger map is cached before refreshing from SyncEngine.</comment>
                </field>
            </group>
            <group id="media_gallery_api" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Media Gallery API</label>
                <field id="skip_unchanged" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Skip existing.</label>
                    <comment>Prevent duplicate images: This will compare with the existing base64 contents and will keep the existing image if it is the same.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pass_url" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable image URL processor</label>
                    <comment>Enable passing URL as base64 data for Media Gallery API</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pass_path" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable image path processor</label>
                    <comment>Enable relative path as base64 data for Media Gallery API</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="base_path" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Image base path</label>
                    <comment>The base path for relative image paths passed to the Media Gallery API. Default: "/pub/media/import"</comment>
                </field>
            </group>
        </section>
    </system>
</config>
